.headline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-section {
    padding-top: 4.5rem;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

.btn-zone {
    display: flex;
    padding-top: 1.5rem;
}

.upload-btn:disabled {
    opacity: 0.65; 
    cursor: not-allowed;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #95A5A6;
    border-color: #95A5A6;
    border-radius: 4px;
    width: 200px;
    height: 52px;
    padding: 0;
    font-weight: 500;
    font-size: 1.1rem;
    color: white;
    align-items: center;
    position: relative;
    justify-content: center;
}

.upload-btn:enabled {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #FA682E;
    border-color: #FA682E;
    border-radius: 4px;
    width: 200px;
    height: 52px;
    padding: 0;
    font-weight: 500;
    font-size: 1.1rem;
    color: white;
    align-items: center;
    position: relative;
    justify-content: center;
}

.upload-btn:hover :enabled {
    background-color: #FA682E;
    border-color: #FA682E;
}