.headline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-list {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.evaluate-btn:disabled {
    opacity: 0.65; 
    cursor: not-allowed;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #95A5A6;
    border-color: #95A5A6;
    border-radius: 4px;
    width: 200px;
    height: 52px;
    padding: 0;
    font-weight: 500;
    font-size: 1.1rem;
    color: white;
    align-items: center;
    position: relative;
    justify-content: center;
}

.evaluate-btn:enabled {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #59b256;
    border-color: #59b256;
    border-radius: 4px;
    width: 200px;
    height: 52px;
    padding: 0;
    font-weight: 500;
    font-size: 1.1rem;
    color: white;
    align-items: center;
    position: relative;
    justify-content: center;
}

.evaluate-btn:hover :enabled {
    background-color: #7AB155;
    border-color: #7AB155;
}


