.file-card {
    padding: 4.5em;
    display: flex;
    align-items: center;
    min-width: 380px;

    .file-inputs {
        position: relative;
        margin-bottom: 1.5em;

        input {
            position: relative;
            text-align: right;
            opacity: 0;
            z-index: 2;
            cursor: pointer;
            height: 46px;
            max-width: 200px;
        }

        &:hover {
            button {
                background-color: white;
                color: #F07D4F;
            }
        }
    }
}

.header-p {
    padding: 1rem;
}

.main {
    font-weight: bold;
    margin-bottom: 0.4em;
}

.info {
    font-size: 0.8rem;
}
